<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Acerca de nosotros</h2>
            <p class="text-justify">Con un exceso de curiosidad y un poco de ocio divagamos entre los más triviales temas.
Cine, literatura, todo y nada, la vida. :v</p>
<p>¡Acompáñanos en esta aventura llamada vida!</p>
        </div>
    </div>
</section>

<!-- contact Section -->
<section id="contact" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 class="">Contacto</h2>
        <p class="hidden">¡Síguenos en nuestras redes sociales!
        </p>
        <a href="twitter.com/trivialesdichas" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
        <a href="https://www.facebook.com/TrivialesDichas/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
        <a href="#" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
        <a href="https://www.youtube.com/channel/UCHd9c8uXhbVdaGZHPJobQ8w" class="btn btn-default btn-lg"><i class="fa fa-youtube fa-fw"></i> <span class="network-name">Youtube</span></a>
      </div>
    </div>
  </div>
</section>
