{% extends 'layout.html' %}
{% block body %}
<div align="left">
  <h1>Añadir entrada</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form action="" method="POST">
    <div class="form-group">
      {{render_field(form.title, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.body, class_="form-control", id="editor")}}
    </div>
    <p>
      <button class="btn btn-default" data-toggle="confirmation"
        data-btn-ok-label="Sí"
        data-btn-ok-icon="glyphicon glyphicon-ok"
        data-btn-ok-class="btn-success btn-xs"
        data-btn-cancel-label="No" data-btn-cancel-icon="glyphicon glyphicon-remove"
        data-btn-cancel-class="btn-danger btn-xs"
        data-title="Confirmar envío"
        >
        <!-- data-title="Confirmar envío" data-content="This might be dangerous" -->
        Enviar
      </button>
    </p>
  </form>
</div>
{% endblock %}
