{% extends 'layout.html' %}
{% block body %}
<section class="content-section">
<h1 class="text-left">Publicaciones</h1>
<div class="inner-addon left-addon">
    <i class="fa fa-search"></i>
    <input type="text" id="myInput" onkeyup="filterTitles()" placeholder="Buscar título..."/>
</div>

  <table id="table_articles" class="table table-custom">
    <thead class="thead-default">
      <tr>
        <th></th>
        <th class="text-left" >
          Título
        </th>
        <th class="text-left">
          Autor
        </th>
        <th class="text-right">
          Fecha
        </th>
      </tr>
    </thead>
    {% for article in articles: %}
    <tr>
      <td>
        <a  href="article/{{article.id}}" class="btn btn-default btn-xs">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
      </td>
      <td class="text-left">
        {{article.title}}
      </td>
      <td class="text-left">
        <b>{{article.name}}</b>
      </td>
      <td class="text-right">
        <b>{{article.create_date.strftime("%c")}}</b>
      </td>
    </tr>
    {% endfor %}
</div>
</table>
<div >
  <hr>
  <a href="#page-top" class="btn btn-circle page-scroll">
  <i class="fa fa-angle-double-up animated"></i>
  </a>
</section>
{% endblock %}
