{% extends 'layout.html' %}
{% block body %}
<h1 class="text-center">Publicaciones</h1>
<div>
  <table class="table table-custom">
    <thead class="thead-default">
      <tr>
        <th></th>
        <th class="text-left">
          Título
        </th>
        <th class="text-right">
          Autor/date
        </th>
      </tr>
    </thead>
    {% for article in articles: %}
    <tr>
      <td>
        <a href="/article/{{article.id}}" class="btn btn-default">
        VER
        </a>
      </td>
      <td>
        {{article.title}}
      </td>
      <td class="text-right"><b>{{article.author}}</b>/{{article.create_date.strftime("%c")}}</td>
    </tr>
    {% endfor %}
</div>
</table>
<div >
  <hr>
<a href="#page-top" class="btn btn-circle page-scroll">
  <i class="fa fa-angle-double-up animated"></i>
</a>
</div>
{% endblock %}
