{% extends 'layout.html' %}
{% block body %}
<h1 class="text-center">Publicaciones</h1>
<div>
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th class="text-left">
          Título
        </th>
        <th class="text-right">
          Autor
        </th>
      </tr>
    </thead>
    {% for article in articles: %}
    <tr>
      <th>
        <a href="article/{{article.id}}" class="text-left">
          {{article.title}}
      <td class="text-right">{{article.author}}</td>
      </a>
      </th>
    </tr>
    {% endfor %}
</div>
</table>
{% endblock %}
