{% extends 'layout.html' %}
{% block body %}
<div  align="left">
  <h1>Dashboard</h1>
  <a href="/add_article" class="btn btn-default">Añadir entrada</a>
</div>
{% if articles %}
<br>
<div>
<table class="table table-condensed active">
  <thead>
    <tr>
      <th class="hidden">ID</th>
      <th></th>
      <th>Título</th>
      <th>Autor</th>
      <th>Subido el</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  {% for article in articles %}
  <tr>
    <td align="left" class="hidden">{{article.id}}</td>
    <td>
        <a  href="article/{{article.id}}" class="btn btn-default btn-xs">
          VER
        </a>
    </td>
    <td align="left">
      {{article.title}}
    </td>
    <td align="left">{{article.name}}</td>
    <td align="left">{{article.create_date.strftime("%c")}}</td>
    <td align="left"><a href="edit_article/{{article.id}}" class="btn btn-success btn-xs pull-right">Edit</a></td>
    <td align="left"><a href="#" class="btn btn-danger btn-xs pull-right">Delete</a></td>
  </tr>
  {% endfor %}
</table>
</div>
<hr>

<div >
<a href="#page-top" class="btn btn-circle page-scroll">
  <i class="fa fa-angle-double-up animated"></i>
</a>
</div>
{% endif %}
{% endblock %}
